/* resources/css/ -> style.css file */

.rm-user,
.ed-user {
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
}

.rm-user {
    color: #F37621;
}

.rm-user:hover {
    color: #FF3333;
}

.ed-user {
    color: #2A9046;
}

.ed-user:hover {
    color: #61FF7A;
}

.show-btn {
    display: none;
    margin-bottom: 15px;
}

.login-page-header {
    padding-bottom: 9px;
    margin: 40px 0px 20px;
    text-align: center;
    background: #FFF;
}

.loginlogo {
    height: 120px;
}

.modal-dialog {
    margin: 70px auto;
}

.login-heading {
    font-size: 22px;
    font-weight: bold;
    color: #EEE !important;
}

.panel-body .col-lg-4 {
	float: none;
	margin: 0 auto;
}

.page-header,
.panel-heading{
    text-align: center;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item .ui-icon {
  float: right;
  cursor: pointer;
}

.ui-autocomplete-multiselect .ui-autocomplete-multiselect-item {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1px 3px;
  margin-right: 2px;
  margin-bottom: 3px;
  color: #333;
  background-color: #f6f6f6;
}

.ui-autocomplete-multiselect input {
  display: inline-block;
  border: none;
  outline: none;
  height: auto;
  margin: 2px;
  overflow: visible;
  margin-bottom: 5px;
  text-align: left;
}

input.vanilla:focus,
.ui-autocomplete-multiselect.ui-state-active {
  outline: none;
  border: 1px solid #7ea4c7;
  -khtml-box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
  box-shadow: 0 0 5px rgba(50, 150, 255, 0.5);
}

.ui-autocomplete {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#accordion .panel-heading {
    background: #4FA495;
}

img.tooltip {
    border-radius: 50%;
    height: 18px;
    width: 18px;
    position: relative;
    float: right;
    opacity: 1;
}

.input-group {
    margin: 10px 0;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove rgba(0,0,0,0.1);
}