<thead>
    <tr>
        <th ng-repeat="thead in json.head track by $index">{{thead}}</th>
        <th data-sortable="false"></th>
    </tr>
</thead>
<tbody>
    <tr ng-repeat="el in json.item track by $index" class="{{el.class}}">
        <td ng-repeat="p in el.data track by $index">{{p}}</td>
        <td>
            <span title="Remove user" class="rm-user" ng-click="rmUser(el.data)"><i class="fa fa-trash"></i>
</span>
            <span title="Edit user" class="ed-user" ng-click="edUser(el.data)"><i class="fa fa-pencil-square-o"></i></span>
            
            <!--<span title="Set pattern" class="pt-user" ng-click="ptUser(el.data)"><i class="fa fa-sheqel"></i></span>-->
        </td>
    </tr>
</tbody>